@font-face {
    font-family: MontserratRegular;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratRegularSemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: normal;
}


.block_or_img_center {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
